<h1 class="itemspace" id="tableLabel">covid-19 <span class="card__category"> source : api.coronastatistics.live </span></h1>

<p class="card__category" *ngIf="!forecasts"><em>Loading...</em></p>

<section class="itemspace cards">
  <article class="card card--1">
    <div class="card__info-hover">
    </div>
    <div class="card__img"></div>
    <a target="_blank" href="https://www.rivm.nl/en/news/current-information-about-novel-coronavirus-covid-19" class="card_link">
      <div class="card__img--hover"></div>

      <div class="card__info">
        <span class="card__category"><mark> NETHERLANDS</mark></span>
        <div class="card__title" *ngFor="let area of forecasts">
          <div *ngIf="area.country=='Netherlands'">
            <p>Confirmed : {{area?.cases | number}}</p>
            <p>Recovered : {{area?.recovered | number}}</p>
            <p>Deaths : {{area?.deaths | number}}</p>
          </div>
        </div>
        <span class="card__title card__by">Click the tile for <a href="https://www.rivm.nl/en/news/current-information-about-novel-coronavirus-covid-19" class="card__author" title="author">Official Information</a></span>
      </div>
    </a>
  </article>

  <article class="card card--2">
    <div class="card__info-hover">
    </div>
    <div class="card__img"></div>
    <a target="_blank" href="https://www.mygov.in/covid-19">
      <div class="card__img--hover"></div>

      <div class="card__info">
        <span class="card__category"><mark>INDIA</mark></span>
        <div class="card__title" *ngFor="let area of forecasts">
          <div *ngIf="area.country=='India'">
            <p>Confirmed : {{area?.cases | number}}</p>
            <p>Recovered : {{area?.recovered | number}}</p>
            <p>Deaths : {{area?.deaths | number}}</p>
          </div>
        </div>
        <span class="card__title card__by">Click the tile for <a href="https://www.mygov.in/covid-19" class="card__author" title="author">Official Information</a></span>
      </div>
    </a>
  </article>

</section>

<br />

<mat-form-field appearance="outline" class="itemspace" style="width:50% !important">
  <mat-label class="card__category">Search for Countries Here</mat-label>
  <label class="card__category">
    <input matInput (keyup)="applyFilter($event)" placeholder="Country Name">
  </label>
</mat-form-field>

<br />

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country</th>
    <td mat-cell *matCellDef="let element"> {{element.country | titlecase}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cases</th>
    <td mat-cell *matCellDef="let element"> {{element.cases | number}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered</th>
    <td mat-cell *matCellDef="let element"> {{element.recovered | number}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths</th>
    <td mat-cell *matCellDef="let element"> {{element.deaths | number}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active</th>
    <td mat-cell *matCellDef="let element"> {{element.active | number}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="critical">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Critical</th>
    <td mat-cell *matCellDef="let element"> {{element.critical | number}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="casesPerOneMillion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cases Per One Million</th>
    <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion | number}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="deathsPerOneMillion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Deaths Per One Million</th>
    <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion | number}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
